*{
    color: #112fa9;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}

.input-field{
    position: relative;
}


.input-field input{
    width: 100%;
    height: 60px;
    border-radius: 6px;
    font-size: 18px;
    padding: 10 15px;
    border: 2px solid #5130c5;
    background: transparent;
    color: #5130c5;
    outline: none;
    border-bottom: 2px solid #5130c5;
    caret-color:black;
}

.input-field label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #5130c5;
    font-size: 19px;
    pointer-events: none;
    transition: 2s;
    background-color: white;
}

input:focus ~ label {
    top: 0;
    left: 15px;
    font-size: 16px;
    padding:  0 2px;
    border-radius: none;
}